@media (max-width: 600px) {
  #title-sequence {
  	transform: scale( .6);
  	overflow: visible;
  }

  #game-top {
    margin: 0.2rem 0rem 0.4rem 0;
  }

  #difficulty-game-option {
  	display: none !important;
  }

  #category-options {
  	display: none !important;
  }

  #open-menu {
  	margin-left: auto;
  	margin-right: 0.75rem;
  	transform: scale( 1 );
  }

  #feed {
  	margin: 0;
  	padding: 0;
  	border-radius: 0;
  }

  #options button {
  	margin: 0.3rem;
    font-size: .9rem;
    padding: 0.2rem;
  }

  #game-bottom {
	padding: 0.2rem 0;  	
  }

  #options button .label {
  	font-size: 1.2rem;
  }

  #feed header {
  	margin: 0 .75rem;
  }

  #feed content {
  	overflow-y: auto;
  }

  #feed footer {
  	margin: 0.8rem 0;
  }

  #feed footer button {

  	font-size:.8rem;
  	padding: 0.5rem;
  }

  .snippet {
  	font-size: .95rem;
    letter-spacing: -0.05rem;
    margin-bottom: 1rem;
    padding: 0.8rem 1.2rem 0.8rem 0.8rem;
  }

  .snippet .label {
  	margin-right: 1rem;
  	font-size: 1.25rem;
  }

  .score {
  	font-size: 1.8rem;
  }

  .score .value {
  	margin-left: 1rem;
  	font-size: 1.7rem;
  }

  .score .currency {
  	font-size: 2.2rem;
  }

  #game-sidebar {
  	width: 100%;
  }

}